@import '../../../../../../../libs/client/shared/styles/src/lib/breakpoints';

:host {
  display: flex;
  justify-content: center;

  input {
    width: 46px;
    margin: 0 6px;
    text-align: center;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@include media_breakpoint_down(xs) {
  :host {
    input {
      width: 36px;
      margin: 0 6px;
      text-align: center;

      padding-left: 4px;
      padding-right: 4px;
    }
  }
}
