<ng-container *transloco="let t; read: 'resetPassword.newPassword'">
  <h2 class="cm-wizard-heading">{{ t('newPassword') }}</h2>
  <p class="cm-wizard-text">{{ t('setNewPasswordText') }}</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <cm-text-field-wrapper [label]="'Password'" [name]="'password'" [errors]="newPasswordErrors">
      <cm-password-wrapper>
        <input
          cmInput
          id="password"
          type="password"
          [placeholder]="t('password')"
          formControlName="newPassword"
          [class.cm-input--invalid]="newPasswordErrors.length > 0"
        />
      </cm-password-wrapper>
    </cm-text-field-wrapper>
    <cm-text-field-wrapper
      [label]="t('confirmPassword')"
      [name]="'confirmPassword'"
      [errors]="confirmPasswordErrors"
    >
      <cm-password-wrapper>
        <input
          cmInput
          id="confirmPassword"
          type="password"
          [placeholder]="t('confirmPassword')"
          formControlName="confirmPassword"
          [class.cm-input--invalid]="confirmPasswordErrors.length > 0"
        />
      </cm-password-wrapper>
    </cm-text-field-wrapper>
    <button cm-button [disabled]="form.invalid || (loading$ | async)" [floating]="true">
      {{ t('confirm') }}
    </button>
  </form>
</ng-container>
