@import '../../../../../../../libs/client/shared/styles/src/lib/wizard-text';
@import '../../../../../../../libs/client/shared/styles/src/lib/breakpoints';

:host {
  cm-text-field-wrapper {
    min-width: 20rem;
    margin-bottom: 1rem;

    @include media_breakpoint_up(md) {
      min-width: 32rem;
    }
  }

  cm-password-wrapper,
  input {
    width: 100%;
  }

  cm-password-wrapper {
    margin-bottom: 16px;
  }
}
