@import '../../../../../../libs/client/shared/styles/src/lib/typography';
@import '../shared/settings_shared';

:host {
  @include set_page_styles();
}

.settings-password-page {
  @include settings_shared();

  & &__content {
    align-items: flex-start;
    padding-top: 16px;
    padding-bottom: 42px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }

  & &__form {
    margin-top: 24px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__input-wrapper {
      width: 100%;
    }

    input,
    cm-password-wrapper {
      width: 100%;
      &.ng-invalid {
        border-color: var(--grey-400);
      }
    }

    input {
      margin-top: 10px;
    }

    & &__form.form-submitted {
      input {
        &.ng-invalid {
          border-color: var(--red);
        }
      }
    }

    cm-password-wrapper + cm-password-wrapper,
    .settings-password-page__form__input-wrapper + button {
      margin-top: 16px;
    }
  }
}
