<div class="settings-password-page" *transloco="let t; read: 'settings.password'">
  <div class="settings-password-page__content">
    <a
      cm-list-item
      icon="LeftChevron"
      class="cm-settings-wrapper__content__nav"
      routerLink="/settings"
      >{{ t('back') }}</a
    >
    <h2 class="settings-password-page__title">{{ t('title') }}</h2>
    <p class="settings-password-page__description">
      {{ t('description') }}
    </p>
    <form
      class="settings-password-page__form"
      [formGroup]="form"
      [class.form-submitted]="submitted"
      (submit)="onSubmit()"
    >
      <div class="settings-password-page__form__input-wrapper">
        <cm-password-wrapper>
          <input
            formControlName="oldPassword"
            cmInput
            type="password"
            [placeholder]="t('inputs.old')"
            [attr.aria-label]="t('inputs.old')"
          />
        </cm-password-wrapper>
        <cm-password-wrapper>
          <input
            formControlName="newPassword"
            cmInput
            type="password"
            [placeholder]="t('inputs.new')"
            [attr.aria-label]="t('inputs.new')"
          />
        </cm-password-wrapper>
      </div>
      <button cm-button type="submit" cmButtonType="primary">
        {{ t('saveButton') }}
      </button>
    </form>
  </div>
</div>
