@import '../../../../../libs/client/shared/styles/src/lib/typography';

:host {
  text-align: justify;
  padding: 0 1rem;
  display: flex;
  flex-flow: column;

  h1 {
    @extend %h500;
    color: var(--grey-900);
  }

  h2 {
    @extend %h300;
    color: var(--grey-900);
  }

  h3 {
    @extend %h100;
    color: var(--grey-900);
  }

  p {
    margin-bottom: 0.5rem;
  }

  ol {
    @extend %text300;
    line-height: 122%;
  }

  li {
    padding-left: 0.7rem;
  }
}
