## [Start] Stash resolver specific context.. **
$util.qr($ctx.stash.put("typeName", "Attendee"))
$util.qr($ctx.stash.put("fieldName", "attendeeChats"))
{}
## [End] Stash resolver specific context.. **