## [Start] Stash resolver specific context.. **
$util.qr($ctx.stash.put("typeName", "Match"))
$util.qr($ctx.stash.put("fieldName", "attendee1Interests"))
{}
## [End] Stash resolver specific context.. **